.partyBox {
  background-color: green;
  width: 100%;
  height: 70%;
  position: absolute;
  z-index: 100;
  /* margin-left: 15px;
  margin-right: 15px; */
}

.partyEntry {
  background-color: green;
}

/* .menuTab { */
  /* background-color:white; */
/* } */

.playColumn {
  position: relative;
}

.profileArrow {
  height: 2rem;
  width: 2rem;
}