@font-face {
  font-family: CFNightOfTerror;
  src: url(../src/fonts/CFNightofTerrorPERSONAL-Reg.ttf);
}

.titleText{
  font-family: CFNightOfTerror;
  color: white;
}

.profileData {
  height: 80%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #282c34
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menuPane {
  background-color: grey;
}